---
layout: page
title: 35% Campaign
subtitle: for regeneration that benefits local people
bigimg:
  - "/img/DVS28scenarios.png" : "Redacted Heyate DVS viability report"
  - "/img/ludgate_sampson2.png" : "Bankside Quarter CGI"
  - "/img/elephantpark_marketing.jpg" : "Elephant Park CGI (2012)"
  - "/img/NewMinistryOfSound.png" : "New Ministry of Sound club CGI (2015)"
  - "/img/HotelElephant_Paperworks.jpg" : "Hotel Elephant - Paperworks (2014)"
  - "/img/wooddeneplan.jpg" : "CGI plans for Wood Dene estate regeneration"
  - "/img/sav16.png" : "Council homes sold by Savills (2015)"
  - "/img/sav159.png" : "Council homes sold by Savills (2015)"
  - "/img/sav178.png" : "Council homes sold by Savills (2015)"
  - "/img/sav65.png" : "Council homes sold by Savills (2015)"
  - "/img/sav173.png" : "Council homes sold by Savills (2015)"
  - "/img/heygate.jpg" : "Elephant & Castle (2011)"
  - "/img/Welcome_to_Southwark.png" : "Southwark Council advertising (2015)"
  - "/img/elephantpark.jpg" : "Elephant & Castle regeneration (CGI)"
  - "/img/markoneplans.jpg" : "E&C MarkI Regeneration Masterplan (2002)"
  - "/img/elephant-rd.jpg" : "[the real] Elephant Park (2011)"
  - "/img/eandcshoppingcentre.jpg" : "E&C Shopping Centre (2013)"
  - "/img/delanceyvision.jpg" : "Elephant & Castle - pre-Delancey vision"
  - "/img/tribecasquare.jpg" : "Delancey's Elephant Rd development CGI"
  - "/img/tribecasquare2.jpg" : "Delancey's Elephant Rd development CGI"
  - "/img/silwood.jpeg" : "Silwood estate demolition (2010)"
  - "/img/elmingtonestate.jpg" : "Elmington estate demolition (2010)"
  - "/img/camberwellfieldslogo.png" : "Elmington estate - now 'Camberwell Fields'"
  - "/img/heygatepanorama.jpg" : "Heygate estate (2011)"
  - "/img/emptyheygatesite.JPG" : "Heygate site (2014)"
  - "/img/heygatedemolition.jpg" : "Heygate demolition (2014)"
  - "/img/FallenWalkways.jpg" : "Heygate site (2014)"
  - "/img/HeygateDemolition.jpeg" : "Heygate demolition (2014)"
  - "/img/heygatesiteplan.jpg" : ""
  - "/img/now.jpeg" : "Heygate estate (2013)"
  - "/img/southwark.jpg" : "North Southwark (2012)"
  - "/img/HeygateFenceFlowersMemorial.jpg" : "Heygate site (2014)"
  - "/img/deconstruction.jpg" : "Heygate demolition (2014)"
  - "/img/a-cultural-vision-for-elephant-and-castle.png" : "Cultural Vision for E&C (2009)"
  - "/img/samkeilelephant.jpg" : "Market Square CGI (2010)"
  - "/img/TrafalgarPlaceCN.png" : "Trafalgar Place advertising (2013)"
  - "/img/southwarkMIPIMstand.png" : "Southwark MIPIM stand (2014)"
  - "/img/MipimAwards.jpg" : "Southwark shortlisted for MIPIM award (2014)"
  - "/img/larryandjanetleave.png" : "Heygate residents - Larry and Janet Colfer (2012)"
  - "/img/heygatetrees.jpg" : "Heygate aerial photo (2012)"
  - "/img/EvictionProtest.png" : "Heygate residents protesting evictions (2010)"
  - "/img/elephantparkcomparison.png" : "Comparison of original vs current masterplan"
  - "/img/DisplacedTenants.png" : "Map of displaced Heygate tenants"
  - "/img/LeaseholderDisplacement3.png" : "Map of displaced Heygate leaseholders"
  - "/img/showustheviability.jpg" : "Heygate planning application hearing (2013)"
  - "/img/heygatein01.jpg" : "Heygate planning application hearing (2013)"
  - "/img/energy_envrnmtl-services_lge.gif" : "Original zero carbon development plans (2009)"
  - "/img/heygatevisit.png" : "Politicians celebrating 'progress' at E&C"

---

<div class="posts-list">
  {% for post in paginator.posts %}
  <article class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
	  <h2 class="post-title">{{ post.title }}</h2>
	
	  {% if post.subtitle %}
	  <h3 class="post-subtitle">
	    {{ post.subtitle }}
	  </h3>
	  {% endif %}  
    </a>

    <p class="post-meta">
      Posted on {{ post.date | date: "%B %-d, %Y" }}
    </p>
  
    <div class="post-entry">
      {{ post.content | truncatewords: 50 | strip_html | xml_escape}}
	  <a href="{{ post.url | prepend: site.baseurl }}" class="post-read-more">[Read&nbsp;More]</a>
    </div>
  
   </article>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}
