---
layout: page
title: 35% Campaign
subtitle: for regeneration that benefits local people
bigimg:
  - "/img/coopersroad1.jpg" : "Coopers Road estate regeneration"
  - "/img/blairvisitsaylesbury1997.jpg" : "Tony Blair's inaugural speech on Aylesbury estate 1997"
  - "/img/wendoverlong.jpg" : "Aylesbury estate, Wendover block"
  - "/img/aylesburyarchivephotos.jpg" : "Aylesbury estate - Circa 1980"
  - "/img/pjfionacarvilkim.jpg" : "Council leader Peter John with Cllr Colley & Kim Humphreys"
  - "/img/wingravedemolition.jpg" : "Heygate estate demolition"
  - "/img/aylesburydemolition.jpg" : "Aylesbury estate demolition"
  - "/img/vision.jpg" : "E&C Shopping Centre/LCC redevelopment CGI"
  - "/img/aylesburyimage.jpg" : "Aylesbury estate"
  - "/img/wendover.jpg" : "Aylesbury estate"
  - "/img/eliteinternationalassets.png" : "Heygate redevelopment marketed in Doha"
  - "/img/heygatejuxta.png" : "Heygate estate"
  - "/img/lightson_councilestates.jpg" : "Lights on in Southwark's council estates"
  - "/img/northpeckhamdemo.jpg" : "North Peckham estate demolition"
  - "/img/northpeckhamdemogoogle.png" : "North Peckham estate demolition"
  - "/img/silwoodalpineroad.jpg" : "Silwood estate demolition"
  - "/img/coopersroad2.jpg" : "Coopers Road estate regeneration"
  - "/img/coopersroaddemolition.jpg" : "Coopers Road estate regeneration"
  - "/img/coopersroad3.jpg" : "Coopers Road estate regeneration"
  - "/img/DVS28scenarios.png" : "Redacted Heygate DVS viability report"
  - "/img/silwoodhalfdemolished.jpeg" : "Silwood estate demolition"
  - "/img/lindenhomessite.jpg" : "Demolition of council buildings - Bermondsey Spa regeneration"
  - "/img/bojoandpj.jpg" : "Mayor Johnson with Council leader Peter John"
  - "/img/brandonlewis_trafalgarplace.jpg" : "Tory housing minister visits Heygate redevelopment"
  - "/img/viabilityfordummies.png" : "Our campaign for public access to viability figures"
  - "/img/idskatedavies.jpg" : "IDS with Notting Hill's Kate Davies - members of the CSJ think tank"
  - "/img/coronet_cinema.jpg" : "Art deco behind the Coronet's blue facade"
  - "/img/towers_sky_ambition.png" : "Southwark regeneration's motto: 'Towers, Sky and Ambition'"
  - "/img/believeinregeneration.jpg" : "Believe in Regeneration"
  - "/img/wooddene_demolition1.jpg" : "Wood Dene estate demolition (2007)"
  - "/img/wood_dene.jpg" : "Wood Dene estate, Peckham (pre-demolition)"
  - "/img/wooddene_demolition2.jpg" : "Wood Dene estate demolition (2007)"
  - "/img/solar.jpeg" : ""
  - "/img/southwark_event.jpg" : "Southwark's Bidders' Day event for developers (2015)"
  - "/img/peterjohn_cannes.jpg" : "Council leader on developer-funded MIPIM trip (2013)"
  - "/img/olympictickets.png" : "Council leader - developer hospitalities (2013)"
  - "/img/georgetinglehouse.jpg" : "Council homes being demolished in Bermondsey Spa regeneration (2011)"
  - "/img/BermondseySpaDemolition.jpg" : "Council homes being demolished in Bermondsey Spa regeneration (2011)"
  - "/img/heygatesale.png" : "Council leader Peter John signing regeneration agreement with Lendlease"
  - "/img/toppingout_oneelephant.png" : "Council leader celebrates topping out of Lendlease's 'One the Elephant' - a tower with 0% affordable housing"
  - "/img/EandC_watercolour.jpg" : "Original E&C masterplan CGI"
  - "/img/savills.png" : "Savills advising Govt & Southwark on estate regeneration"
  - "/img/ludgate_sampson2.png" : "Bankside Quarter CGI"
  - "/img/elephantpark_marketing.jpg" : "Elephant Park CGI (2012)"
  - "/img/NewMinistryOfSound.png" : "New Ministry of Sound club CGI (2015)"
  - "/img/HotelElephant_Paperworks.jpg" : "Hotel Elephant - interim use of regeneration sites"
  - "/img/wooddeneplan.jpg" : "CGI plans for Wood Dene estate regeneration"
  - "/img/sav16.png" : "Council homes sold by Savills (2015)"
  - "/img/sav159.png" : "Council homes sold by Savills (2015)"
  - "/img/sav178.png" : "Council homes sold by Savills (2015)"
  - "/img/sav65.png" : "Council homes sold by Savills (2015)"
  - "/img/sav173.png" : "Council homes sold by Savills (2015)"
  - "/img/heygate.jpg" : "Elephant & Castle (2011)"
  - "/img/Welcome_to_Southwark.png" : "Southwark Council advertising (2015)"
  - "/img/elephantpark.jpg" : "Elephant & Castle regeneration (CGI)"
  - "/img/markoneplans.jpg" : "E&C Mark 1 Regeneration Masterplan (2002)"
  - "/img/elephant-rd.jpg" : "[the real] Elephant Park (2011)"
  - "/img/eandcshoppingcentre.jpg" : "E&C Shopping Centre (2013)"
  - "/img/delanceyvision.jpg" : "Elephant & Castle - pre-Delancey vision"
  - "/img/tribecasquare.jpg" : "Delancey's Elephant Rd development CGI"
  - "/img/tribecasquare2.jpg" : "Delancey's Elephant Rd development CGI"
  - "/img/silwood.jpeg" : "Silwood estate demolition (2010)"
  - "/img/elmingtonestate.jpg" : "Elmington estate demolition (2010)"
  - "/img/camberwellfieldslogo.png" : "Elmington estate - now 'Camberwell Fields'"
  - "/img/heygatepanorama.jpg" : "Heygate estate (2011)"
  - "/img/emptyheygatesite.JPG" : "Heygate site (2014)"
  - "/img/emptyheygatesite2.JPG" : "Heygate site (2016)"
  - "/img/heygatedemolition.jpg" : "Heygate demolition (2014)"
  - "/img/FallenWalkways.jpg" : "Heygate site (2014)"
  - "/img/HeygateDemolition.jpeg" : "Heygate demolition (2014)"
  - "/img/heygatesiteplan.jpg" : ""
  - "/img/now.jpeg" : "Heygate estate (2013)"
  - "/img/southwark.jpg" : "North Southwark (2012)"
  - "/img/HeygateFenceFlowersMemorial.jpg" : "Heygate site (2014)"
  - "/img/deconstruction.jpg" : "Heygate demolition (2014)"
  - "/img/a-cultural-vision-for-elephant-and-castle.png" : "Cultural Vision for E&C (2009)"
  - "/img/samkeilelephant.jpg" : "Market Square CGI (2010)"
  - "/img/TrafalgarPlaceCN.png" : "Trafalgar Place advertising (2013)"
  - "/img/southwarkMIPIMstand.png" : "Southwark MIPIM stand (2014)"
  - "/img/MipimAwards.jpg" : "Southwark shortlisted for MIPIM award (2014)"
  - "/img/larryandjanetleave.png" : "Heygate residents - Larry and Janet Colfer (2012)"
  - "/img/heygatetrees.jpg" : "Heygate aerial photo (2012)"
  - "/img/EvictionProtest.png" : "Heygate residents protesting evictions (2010)"
  - "/img/elephantparkcomparison.png" : "Comparison of original vs current masterplan"
  - "/img/DisplacedTenants.png" : "Map of displaced Heygate tenants"
  - "/img/LeaseholderDisplacement3.png" : "Map of displaced Heygate leaseholders"
  - "/img/showustheviability.jpg" : "Heygate planning application hearing (2013)"
  - "/img/heygatein01.jpg" : "Heygate planning application hearing (2013)"
  - "/img/energy_envrnmtl-services_lge.gif" : "Original biomass 100% renewable energy plans (2009)"
  - "/img/HeygateAerialAutumn.jpg" : "Heygate estate, Elephant and Castle"
  - "/img/heygatevisit.jpg" : "Labour & Tories celebrating 'progress' at E&C"

---

<div class="posts-list">
  {% for post in paginator.posts %}
  <article class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
	  <h2 class="post-title">{{ post.title }}</h2>
	
	  {% if post.subtitle %}
	  <h3 class="post-subtitle">
	    {{ post.subtitle }}
	  </h3>
	  {% endif %}  
    </a>

    <p class="post-meta">
      Posted on {{ post.date | date: "%B %-d, %Y" }}
    </p>
  
    <div class="post-entry">
      <p>{{ post.excerpt }}</p>
	  <a href="{{ post.url | prepend: site.baseurl }}" class="post-read-more">[Read&nbsp;More]</a>
    </div>
  
   </article>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}
