---
layout: minimal 
title: E&C Traders expelled by regeneration
---

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="https://getbootstrap.com/docs/4.5/examples/album/album.css">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

</head>

<body>


<main role="main">

<div class="jumbotron jumbotron-fluid">
    <h1 class="display-4">E&C Traders with nowhere to go</h1>
          <p class="lead">Southwark, UAL and their <a href"http://35percent.org/2014-05-05-manx-connections-the-off-shore-home-of-the-elephants-developers/">offshore development partner Delancey</a> are making a big song and dance about the handful of traders that have been allocated re-location space, but have kept very quiet about the circa 50 traders who haven't. With the help of xxx and xxx we are recording the voices of those traders whose businesses and livelihoods will be extinguished by the regeneration.</p> 
	</div>



 <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
{% for trader in site.data.traders_list %}
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="card-img-top" src="{{ trader.image_path }}" alt="{{ trader.name }}">
            <div class="card-body">
		    <h5 class="card-title">{{ trader.name }}, {{ trader.ref }}</h5>

		    <p class="card-text">{{ trader.comment | strip_html | truncatewords: 15 }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#{{ trader.name | split: ' ' | first }}">
  Read full interview
</button>
                </div>
              </div>
            </div>
          </div>
        </div>
{% endfor %}

      </div>
    </div>
  </div>

</main>


{% for trader in site.data.traders_list %}
<!-- Modal -->
<div class="modal fade" id="{{ trader.name | split: ' ' | first }}" tabindex="-1" aria-labelledby="{{ trader.name | split: ' ' | first }}Label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
	      <h5 class="modal-title" id="exampleModalLabel">{{ trader.name }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
	      {{ trader.comment }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endfor %}


</body>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
