{% if site.mailchimp %}
<!-- MailChimp Email Form -->
<form class="email-signup" action="http://35percent.us7.list-manage.com/subscribe/post?u=ec407214e6ff80d684df62bdf&amp;id=46c7727501" method="post" novalidate>
	<div class="field-group">
		<label>Email</label>
		<input type="email" value="" name="EMAIL">
	</div>
	<div class="field-group">
		<label>First Name</label>
		<input type="text" value="" name="FNAME">
	</div>
	
	<!-- bot signup protection - real people won't fill this in -->
   <div style="position: absolute; left: -5000px;"><input type="text" name="b_ec407214e6ff80d684df62bdf_46c7727501" tabindex="-1" value=""></div>
    
    <input type="submit" value="Join The List" name="subscribe" class="button">
</form>
{% endif %}
